*{
    box-sizing: border-box;
    text-decoration:none;
    margin: 0;
    padding: 0;
}


.intro_info{
    margin-top: 20px;
    margin-left: 10%;
    width: 80%;
    display: flex;
    justify-content: space-between;
}


/* 로그인 */

form {
    background-color: #fafafa;
    height:400px;
    display : flex;
    flex-direction: column;
    align-items:center;
    position : relative;
    margin-top: 100px;
    left: 50%;
    transform: translate(-50%) ;
}
input[type='text'], input[type='password'] {
    width: 300px;
    height: 40px;
    border : 1px solid rgb(89,117,196);
    border-radius:5px;
    padding: 0 10px;
    margin-bottom: 10px;
}
button {
    background-color: rgb(89, 196, 98);
    color : white;
    width:300px;
    height:50px;
    font-size: 17px;
    border : none;
    border-radius: 5px;
    margin : 20px 0 30px 0;
}

#icon{
    margin-bottom: 30px;
}

#title {
    font-size : 50px;
    margin: 40px 0 20px 0;
}
#msg {
    height: 20px;
    text-align:center;
    font-size:16px;
    color:red;
    margin-bottom: 20px;
}