<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
    	<typeAlias alias="BoardDto" type="org.ruegue.project.domain.BoardDto"/>
        <typeAlias alias="CommentDto" type="org.ruegue.project.domain.CommentDto"/>
        <typeAlias alias="UserDto" type="org.ruegue.project.domain.UserDto"/>
        <typeAlias alias="CommentPageHandler" type="org.ruegue.project.domain.CommentPageHandler"/>
        <typeAlias alias="SearchCondition" type="org.ruegue.project.domain.SearchCondition"/>
    </typeAliases>
</configuration>