<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.ruegue.project.dao.UserMapper">
    <delete id="deleteAll">
        DELETE FROM user_info;
    </delete>

    <delete id="delete" parameterType="string">
        DELETE FROM user_info WHERE id = #{id}
    </delete>

    <insert id="insert" parameterType="UserDto">
        INSERT INTO user_info
            (id, pwd, name, email, birth, sns, reg_date)
        VALUES
            (#{id}, #{pwd}, #{name}, #{email}, #{birth}, #{sns}, #{reg_date})
    </insert>

    <select id="select" parameterType="String" resultType="UserDto">
        SELECT id, pwd, name, email, birth, sns, reg_date
        FROM user_info
        WHERE id = #{id}
    </select>

    <update id="update" parameterType="UserDto">
        UPDATE user_info
        SET   pwd = #{pwd}, name = #{name}, email = #{email}, birth = #{birth}, sns = #{sns}, reg_date = #{reg_date}
        WHERE id = #{id}
    </update>

    <select id="count" resultType="int">
        SELECT count(*)
        FROM user_info
    </select>
</mapper>